<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form method="post" id="data-update" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" name="update" value="staff">Add Task</button>
    </form>


    {% for i in tasks %}

    <div>task: {{i}}</div>

    <div class='progress-wrapper'>
        <div id="progress-bar-{{ i }}" class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-{{ i }}-message">Waiting for progress to start...</div>
    <a href="{% url 'cancel-task' i %}"> cancel task </a>
    <br>
    {% endfor %}

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>

    <script>
        const customProgress = (progressBarElement, progressBarMessageElement, progress) => {

            if (progress.current == 0 && progress.total == 100) {
                progressMessage = ""
            } else {

                taskNumber = parseInt(progress.current) + 1
                taskPercentage = taskNumber / progress.total * 100

                progressBarElement.style.backgroundColor = "#68a9ef"
                progressBarElement.style.width = taskPercentage + "%"
                progressBarMessageElement.className = "alert alert-info"
                progressMessage = "Currently fetching task " + taskNumber + " of " + progress.total
            }
            progressBarMessageElement.innerHTML = (
                progressMessage
            )
        }

    </script>

    {% for task in tasks %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var progressUrl = "{% url 'celery_progress:task_status' task %}";
            CeleryProgressBar.initProgressBar(progressUrl, {
                onProgress: customProgress,
                progressBarId: "progress-bar-{{ task }}",
                progressBarMessageId: "progress-bar-{{ task }}-message",
                pollInterval: 500,
            });
        });
    </script>

    {% endfor%}

</body>

</html>